<div class="side-section">
  <h2 class="side-header">About The Lion Farm</h2>
  <div class="side-content">
    <img class="side-img" alt="lion" src="images/tlf-lion.png">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Fusce at efficitur felis. Curabitur ornare pulvinar quam, ut pellentesque tortor pulvinar eget. Proin est felis, molestie vel scelerisque id, tempor quis dolor.</p>
      <p>To get in touch email me at:</p>
      <a href="#">info@thelionfarm.net</a>
    </div>
</div>