<ul>
    <% blog.articles[0...5].each do |article| %>
      <li>
        <article class="post">
          <div class="post-thumb">
            <img src="images/post-img.jpg">
          </div>
          <div class="post-blurb">
          <h2 class="side-header">
            <%= article.title %>
          </h2>
          <%= Nokogiri::HTML(article.summary).text %>
          <a href="<%= article.url %>">Read more</a>
          </div>
        </article>
      </li>
    <% end %>
  </ul>