<div class="side-section">
	<h2 class="side-header">Cool Merch!</h2>
	<div class="side-content">
	  <img class="side-image" alt="Cool Merch!" src="images/iowa.jpg">
	  <a href="#">Iowa Surf Club tee</a>
	</div>
</div>