<div class="side-section">
    <h2 class="side-header">Featured Project</h2>
    <div class="side-content">
      <img  class="side-image" alt="Featured Project" src="images/cbr.jpg">
      <a href="#">CBR250RR</a>
    </div>
 </div>