<nav class="top-nav is-sticky" id="sticker">
	<img src="images/tlf-logo.png" class="nav-logo">
	<ul>
		<li>
			<a href="index.html" class="top-nav-link ">Blog</a>
		</li>
		<li>
			<a href="projects.html" class="top-nav-link">Projects</a>
		</li>
		<li>
			<a href="merch.html" class="top-nav-link top-nav-selected">Store</a>
		</li>
	</ul>
</nav>