<nav class="top-nav is-sticky" id="sticker">
	<img src="images/tlf-logo.png" class="nav-logo">
	<ul>
		<li>
			<%= link_to 'Blog', 'index', class: "top-nav-link" %>
		</li>
		<li>
			<%= link_to 'Projects', 'projects', class: "top-nav-link top-nav-selected" %>
		</li>
		<li>
			<%= link_to 'Merch!', 'merch', class: "top-nav-link" %>
		</li>
	</ul>
</nav>