<ul>
    <% blog.articles[0...50].each do |article| %>
      <li>
        <article class="post product side-section">
          <h2 class="side-header"><%= article.title %></h2>
          <div class="side-content">
            <div class="post-thumb project-thumb">
              <img src="<%= article.data.featured_image %>">
            </div>
            <%= Nokogiri::HTML(article.summary) %>
          </div>
        </article>
      </li>
    <% end %>
  </ul>