<div class="post project">
  <div class="post-thumb project-thumb">
    <img src="images/post-img.jpg">
  </div>
  <div class="post-blurb project-blurb">
    <h2 class="side-header">Project Title</h2>
    <h3>
      Last Updated:
    </h3>
    <h4>
       14/06/15.
    </h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at efficitur felis. Curabitur ornare pulvinar quam, ut pellentesque tortor pulvinar eget. Proin est felis, molestie vel scelerisque id, tempor quis dolor. 
      <a href="#">Read More.</a>
    </p>
    <div class="post-thumb">
      <img src="images/post-img.jpg">
    </div>
    <div class="post-thumb">
      <img src="images/post-img.jpg">
    </div>
    <div class="post-thumb">
      <img src="images/post-img.jpg">
    </div>
  </div>
</div>