<header class="splash">
	<img src="images/splash-pusher.jpg" class="splash-bg">
	<div class="splash-banner">
	  <img src="images/tlf-logo.png" class="splash-logo">
	  <h1>Exploring Art, Design, and Everything Else.</h1>
	  <a href="#">
	    <div  class="chevron"></div>
	  </a>
	</div>
</header>