---
title: The Lion Farm
---
<div class="site-wrapper-home">
	<%= partial 'components/splash' %>
	<%= partial 'components/navbar' %>
	<div class="page-body">
		<%= partial 'components/post-list' %>
		<%= partial 'components/sidebar' %>
	</div>
	
</div>