---
title: The Lion Farm
blog: store
---
<style type="text/css">
.post-img {
	width: 160px;
	display: inline-block;
	padding: 10px;
}
</style>
<div class="site-wrapper">
	<%= partial 'components/navbar-store' %>
	<div class="page-body">
		<section class="about-box">
	        <h2>The Lion Farm store</h2>
	        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at efficitur felis. Curabitur ornare pulvinar quam, ut pellentesque tortor pulvinar eget. Proin est felis, molestie vel scelerisque id, tempor quis dolor. </p>
			<%= partial 'components/product-list' %>
		</section>
	</div>
</div>