---
title: The Lion Farm
---
<div class="site-wrapper">
	<%= partial 'components/navbar' %>
	<div class="page-body">
		<section class="post-list project-list">
			<ul>
				<li>
					<%= partial 'components/project-1' %>
				</li>
				<li>
					<%= partial 'components/project-1' %>
				</li>
			</ul>
		</section>
	</div>
</div>